{{define "/"}}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Ratatoskr</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="/static/scripts.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div>
        {{range .Groups}}{{template "group" .}}{{end}}
        <button type="button" id="callback">send message</button>
    </div>
</body>

</html>
{{end}}


{{define "group"}}
<div>
    <h3>{{.Name}}</h3>
    <ul id="{{.Name}}">{{range .Tags}}{{template "tag" .}}{{end}}</ul>
</div>
{{end}}


{{define "tag"}}
<li>
    <button class="text secondary-bg">{{.Name}}</button>
</li>
{{end}}
