{{define "webapp"}}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Ratatoskr</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="/static/scripts.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

</head>

<body>
    <div>
        {{range .Groups}}{{template "group" .}}{{end}}
        <div class="callback-container section">
            <button type="button" id="callback">send message</button>
        </div>
    </div>
</body>

</html>
{{end}}


{{define "group"}}
<div class="group">
    <label class="group-header" for="check-{{.Name}}">
        <h3>{{.Name}}</h3>
        <span class="group-content-expanded">🥜</span>
    </label>
    <div class="group-content">
        <input id="check-{{.Name}}" type="checkbox" hidden>
        <div class="accordion">
            <div>
                <ul id="{{.Name}}">{{range .Tags}}{{template "tag" .}}{{end}}</ul>
            </div>
        </div>
    </div>
</div>
{{end}}


{{define "tag"}}
<li>
    <label class="tag">{{.Name}}<input data-type="tag" name="{{.Name}}" type="checkbox" hidden></label>
</li>
{{end}}
